<!DOCTYPE html>
<html>
<head>
    <title>JOONE</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <header>
        <div class="logo">
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="JOONE Logo">
            </a>
        </div>
        <nav>
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('cart') }}">Cart</a>
            {% if session.get('user_id') %}
                <a href="{{ url_for('profile') }}">Profile</a>
                {% if session.get('is_admin') %}
                    <a href="{{ url_for('admin_dashboard') }}">Admin Dashboard</a>
                {% endif %}
                <a href="{{ url_for('logout') }}">Logout</a>
            {% else %}
                <a href="{{ url_for('login') }}">Login</a>
                <a href="{{ url_for('register') }}">Register</a>
            {% endif %}
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; {{ current_year }} IYF | J00NE Interactive LTD.</p>
    </footer>
</body>
</html>